@import "tailwindcss";

:root {
  --background: #82181a;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  /* background-image: url('/images/bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center; */
  @apply bg-white dark:bg-black;
}

h1 {
  @apply md:text-[8rem] text-[5rem] font-black md:leading-32 leading-20;
}

h4 {
  font-size: 2rem;
  font-weight: 200;

}

p {
  font-size: 1rem;
  font-weight: 200;
  opacity: 0.8;
}

button {
  @apply h-12 px-8 bg-white/10 backdrop-blur md:text-base text-sm font-medium text-white rounded-full hover:bg-white/20 transition;
}